# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
out/
*.tsbuildinfo

.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# environment
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.cache/
.turbo/
coverage/

out/
.nuxt/
output/