# pnpm configuration
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false

# hoist strategy
hoist=true
shamefully-hoist=false

# shared workspace protocol (workspace:^) for internal packages
link-workspace-packages=true
prefer-workspace-packages=true

registry=https://registry.npmmirror.com

node-linker=hoisted