# pnpm configuration
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false

# hoist strategy
hoist=true
shamefully-hoist=false

# shared workspace protocol (workspace:^) for internal packages
link-workspace-packages=true
prefer-workspace-packages=true

registry=https://registry.npmmirror.com

# sqlite3 预编译二进制镜像（默认从 GitHub Releases 下载，国内网络超时）
sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3

node-linker=hoisted