@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Fredoka.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts//Nunito.woff2) format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Orbitron.woff2) format('woff2');
}

@font-face {
  font-family: 'PingFangSC-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PingFangSC-Regular.woff2) format('woff2');
}
