body,
#__nuxt {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

#app {
  height: 100%;
}

p,
span,
p,
h1,
h2,
h3,
h4,
h5,
label {
  -webkit-user-select: none; /* 针对 Safari、Chrome 等 WebKit 内核浏览器 */
  -moz-user-select: none; /* 针对 Firefox */
  -ms-user-select: none; /* 针对 Internet Explorer、Edge */
  user-select: none;
}
