body,
#__nuxt {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

#app {
  height: 100%;
}

body {
  font-family: 'PingFangSC-Regular', Courier, monospace;
}

div,
p,
span,
p,
h1,
h2,
h3,
h4,
h5,
label {
  /* font-family: 'PingFangSC-Regular', Courier, monospace; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
