@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --background-color-card: var(--ui-bg-card);
  --background-color-container: var(--ui-bg);
  --border-color-default: var(--ui-border-default);
  --border-color-muted: var(--ui-border-muted);
  --border-color-accented: var(--ui-border-accented);
  --border-color-inverted: var(--ui-border-inverted);
}

@theme static {
  --color-primary-50: #eefbf5;
  --color-primary-100: #d7f4e6;
  --color-primary-200: #b2e8d1;
  --color-primary-300: #7fd6b6;
  --color-primary-400: #4abd96;
  --color-primary-500: #28a17c;
  --color-primary-600: #198264;
  --color-primary-700: #146853;
  --color-primary-800: #135242;
  --color-primary-900: #104438;
  --color-primary-950: #082620;
}

@utility drag {
  -webkit-app-region: drag;
}

@utility no-drag {
  -webkit-app-region: no-drag;
}
