:root {
  --sidebar-width: 60px;
  --navbar-height: 70px;

  --main-content-height: calc(100vh - var(--navbar-height));

  --ui-primary: var(--color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);

  --ui-text-dimmed: rgba(0, 0, 0, 0.25);
  --ui-text-muted: rgba(0, 0, 0, 0.45);
  --ui-text-toned: rgba(0, 0, 0, 0.65);
  --ui-text: rgba(0, 0, 0, 0.88);
  --ui-text-highlighted: #171717;
  --ui-text-inverted: white;

  --ui-bg: #ffffff;
  --ui-bg-card: #fff;
  --ui-bg-elevated: #f6f6f4;
  --ui-bg-sidebar: #f9fafb;

  --ui-border-default: #e4e4e7;
  --ui-border-muted: #d4d4d8;
  --ui-border-accented: #d4d4d8;
  --ui-border-inverted: #171717;
}

.dark {
  --ui-primary: var(--color-primary-400);
  --ui-secondary: var(--ui-color-secondary-400);
  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-400);
  --ui-warning: var(--ui-color-warning-400);
  --ui-error: var(--ui-color-error-400);

  --ui-text-dimmed: rgba(255, 255, 255, 0.25);
  --ui-text-muted: rgba(255, 255, 255, 0.45);
  --ui-text-toned: rgba(255, 255, 255, 0.65);
  --ui-text: rgba(255, 255, 255, 0.85);
  --ui-text-highlighted: white;
  --ui-text-inverted: #fff;

  --ui-bg: #151517;
  --ui-bg-card: #161717;
  --ui-bg-elevated: #212120;
  --ui-bg-sidebar: #1b1b1c;

  --ui-border-default: #27272a;
  --ui-border-muted: #3f3f46;
  --ui-border-accented: #52525b;
  --ui-border-inverted: white;
}
